<p id="notice"><%= notice %></p>

<p>
  <strong>Site url:</strong>
  <%= @notfound.site_url %>
  <%= @notfound.site_404.url %>
  <%= @notfound.site_404.url(:medium) %>

</p>

<%= link_to 'Edit', edit_notfound_path(@notfound) %> |
<%= link_to 'Back', notfounds_path %>
