<p id="notice"><%= notice %></p>

<p>
  <strong>Site url:</strong>
  <%= @notfound.site_url %><br>
  <%= image_tag @notfound.site_404.url %>
</p>

<%= link_to 'Edit', edit_notfound_path(@notfound) %> |
<%= link_to 'Back', notfounds_path %>
